<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hw_sarelmicha">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/planetsaver_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/planetsaver_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".HighScoreScreen"
            android:label="@string/title_activity_high_score_screen"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".Difficulty"
            android:label="@string/title_activity_difficulty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOverScreen"
            android:label="GameOverScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>